body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  ul.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 колонки */
    gap: 16px; /* Відстань між блоками */
    padding: 16px;
    list-style: none;
    margin: 0 auto;
    max-width: 1200px; /* Центрування та максимальна ширина */
  }
  
  ul.gallery li {
    overflow: hidden;
    border-radius: 8px; /* Закруглені кути */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Легкий тіньовий ефект */
    transition: transform 0.3s ease;
  }
  
  ul.gallery li:hover {
    transform: scale(1.05);
  }
  
  .gallery-image {
    width: 100%;
    height: auto;
    display: block;
  }
 
  ul.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Забезпечення однакового розміру зображень */
    display: block;
  }
  


  /* --------- */
  /* ============================ modal window ===================================*/

.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1; /* це робить блок невидемим для глядача. але функціонально він поверх всього контенту сторінки */
  visibility: 0;
  pointer-events:visible; /* це дозволяє блоку ігнорувати кліки миші та пропускати їх скрізь блок до взаємодії з контентом сторінки */ 
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-overlay.is-open { /* додатковий клас відкривання вікна для java розробника. */
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 
  0 1px 1px 0 rgba(0, 0, 0, 0.14),
  0 1px 3px 0 rgba(0, 0, 0, 0.12),
  0 2px 1px 0 rgba(0, 0, 0, 0.2);
  max-width: 360px;
  max-height: 296px;
  overflow-y: auto; /* обмежує контент, що дозволяє контонту не висовуватись за межі єелементу, та вмикає прокрутку вертикальну, якщо потрібно */
  padding: 24px;  
  position:absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
  padding: 0;
  margin: 0;
  border: none;
}

/*
.fantic {
  margin-bottom: 8px;
}*/
.modal-form-label {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  display: block;
  color: #2E2F42;

  margin-bottom: 8px;
}

.modal-form-label + .addition {
  margin-bottom: 16px;
}

.modal-form-input {
  width: 326px;
  height: 22px;
  border: 1px solid #808080;
  border-radius: 4px;
  background: transparent;

  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 8px;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #2e2f42;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:hover, .form-textarea:hover {
  border: 1px solid #000000;
}


.form-textarea {
  width: 326px;
  height: 62px;
  padding: 8px 16px;
  margin-top: 8px;
  resize: none;
  border: 1px solid #808080;
  border-radius: 4px;
  font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.04em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;


  color: #2E2F42;
  
  
  background: transparent;
  outline: transparent; 
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*
.fantic-comment-gap {
  margin-bottom: 16px;
}
  */
.form-textarea::placeholder{
  color: rgba(46, 47, 66, 0.4);
  padding-left: 16px;
}

.modal-form-input:focus + .modal-form-input-icon {
  border: 1px solid #808080;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus,
.form-textarea:focus{
  border: 1px solid #808080;
  outline: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*
.fantic-button-gap {
  margin-bottom: 24px;
}
  */

.form-send-button {
  display: block;
  /*margin: auto ;*/
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  min-width: 85px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4E75FF;

  cursor: pointer;
  font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.04em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); /* задаємо плавність зміни кольору при наведенні для тексту*/
}
.form-send-button:hover,
.form-send-button:focus {
  background-color:#6C8CFF;
}